html {
  height: 100%;
  width: 100%;
  background-color: white;
}



body {
    font: 12px Arial, Helvetica, sans-serif;
    color: #CCCCCC;
    background: #000000 url(background.jpg) no-repeat center bottom;
    margin: 0px;
}